.banner-container {
    
    padding: 50px 100px;
}

.banner-content {
    text-align: center;
    color: #333;
}

.banner-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
   font-family: 'Tilt Prism', cursive;
}

.banner-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-button {
    background-color: black;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.banner-button:hover {
    background-color: #0056b3;
}
.home-container{
    background-image: url('https://cdn.pixabay.com/photo/2014/07/31/23/10/biker-407123_1280.jpg') ;
     background-size: contain;
    background-position: right ;
    background-color: white !important;
}